.container {
    display: flex;
  }
  
  .header {
    margin-left: 150px;
    margin-top: 50px; 
  }

  .main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 100px;
    gap: 50px;
    
  }
  
  .subheading{
    margin-left: 100px;
    margin-top: 50px;
  }

  .about{
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
  }