.container {
    display: flex;
  }
  
  .header {
    margin-left: 30px; /* Adjust margin as needed */
    margin-top: 50px; /* Adjust margin as needed */
  }

  .main-content{
    display: flex;
  }
  
  .subheading{
    margin-left: 100px; /* Adjust margin as needed */
    margin-top: 50px; /* Adjust margin as needed */
  }