/* /c:/Users/sstai/portfolio/src/styles/ProjectInformation.css */

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10% 0 10%;
    padding: 20px;
    text-align: center;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    gap: 20px;

}
.project-image {
    width: 50%;
    height: auto;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.repoButton {
    display: flex;
    flex-direction: row;
    background-color: var(--small-block-color);
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    gap: 10px;
}
.repoButton:hover {
    cursor: pointer;
    visibility: visible;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }

  .repoButton:active{
      transform: scale(0.9);
  }