
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;

    padding: 20px;
    border-radius: 23px;
    background-color:var(--card-color);
    transition: 0.3s;
    height: 55vh;
    width: 45vh;
}

.inner-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title{
    font-size: 2.25em;
    font-weight: bold;
    color: var(--color-primary);
    font-family: var(--font-primary);
    margin: 10px;
    margin-bottom: 0px;
}

.content{
    font-size: 12px;
    margin-top:0%;
}

.card-container:hover {
    cursor: pointer;
    visibility: visible;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }

  .card-container:active{
      transform: scale(0.9);
  }