
.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 100px;
    padding-left: 50px;
    border-radius: 23px;
    background-color: white;
    transition: 0.3s;
    height: 51vh;
    width: 78vw;
}

.card-title{
    font-size: 50px;
    font-weight: bold;
    color: var(--color-primary);
    font-family: var(--font-primary);
    margin: 10px;
}
